"*":
  "activate-power-mode":
    autoToggle: false
    comboMode: {}
    particles:
      enabled: false
    plugins:
      playAudio: true
      screenShake: true
    screenShake:
      enabled: false
  alignment: {}
  "atom-alignment": {}
  "atom-beautify":
    general:
      muteAllErrors: true
      showLoadingView: false
    haskell:
      beautify_on_save: true
    lua:
      indent_size: 4
  "atom-haskell":
    hasAddedConfiguration: true
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      statusBarPosition: "right"
  "autocomplete-haskell":
    hideHintPanelIfEmpty: false
  "browser-plus": {}
  core:
    debugLSP: true
    disabledPackages: [
      "spell-check"
      "spacemacs-evil-keys"
      "vim-mode-plus-keymaps-for-surround"
      "git-plus"
      "git-diff"
      "linter"
    ]
    packagesWithKeymapsDisabled: [
      "atom-perforce"
      "spacemacs-evil-keys"
      "nyancat-scroll"
      "activate-power-mode"
      "zentabs"
      "git-diff"
      "github"
      "align-regexp"
      "browser-plus"
    ]
    reopenProjectMenuCount: 20
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    uriHandlerRegistration: "always"
  editor:
    atomicSoftTabs: false
    fontSize: 20
    invisibles:
      cr: " "
      eol: " "
      space: " "
    preferredLineLength: 90
    showInvisibles: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "ffd16ae9-8801-48d7-8ed3-869a41a27fce"
  "fuzzy-finder": {}
  "git-diff":
    wrapAroundOnMoveToDiff: false
  "haskell-ghc-mod":
    lowMemorySystem: true
    onChangeCheck: true
    onChangeLint: true
  "ide-haskell":
    messageDisplayFrontend: "linter"
    startupMessageIdeBackend: false
    switchTabOnCheck: false
  "ide-haskell-cabal":
    cabal:
      activeGhcVersion: "8.0"
  "ide-haskell-repl":
    defaultRepl: "stack"
  "ide-rust":
    checkForToolchainUpdates: false
    rlsToolchain: "stable"
  "linter-lua":
    executablePath: "C:\\lua\\luac.exe"
  "linter-ui-default":
    hidePanelWhenEmpty: false
    panelHeight: 300
  "package-sync":
    createOnChange: true
  "todo-show":
    findTheseTodos: [
      "TODO"
      "FIXME"
      "CHANGED"
      "XXX"
      "IDEA"
      "HACK"
      "NOTE"
      "REVIEW"
      "NB"
      "BUG"
      "QUESTION"
      "COMBAK"
      "TEMP"
      "TESTME"
    ]
    showInTable: [
      "Text"
      "Type"
    ]
    sortBy: "Type"
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    useSmartcaseForFind: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
  zentabs:
    manualMode: true
    maximumOpenedTabs: 20
".lua.source":
  editor:
    tabLength: 4
