# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson

# my spacemacs keys
'background-tips, .tree-view, atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'space space': 'ex-mode:open'
  'space f f': 'fuzzy-finder:toggle-file-finder'
  'space p f': 'fuzzy-finder:toggle-file-finder'
  #  p4
  'space p 4 e': 'perforce:edit'
  'space p 4 r': 'perforce:revert'
  'space /': 'project-find:show'

'atom-text-editor:not([mini])':
  'space b': 'fuzzy-finder:toggle-buffer-finder'

# auto complete
'atom-text-editor:not([mini]) !important':
   'enter': 'editor:newline'
'atom-text-editor:not(mini).autocomplete-active':
  'tab': 'editor:indent'
  'up': 'unset!'
  'down': 'unset!'
  'enter': 'autocomplete-plus:confirm'
  'ctrl-p': 'core:move-up'
  'ctrl-n': 'core:move-down'
  'ctrl-k': 'core:move-up'
  'ctrl-j': 'core:move-down'
