packages: [
  "activate-power-mode"
  "align-regexp"
  "atom-beautify"
  "atom-haskell"
  "atom-ide-ui"
  "atom-keyboard-macros-vim"
  "atom-perforce"
  "autocomplete-haskell"
  "bracket-colorizer"
  "browser-plus"
  "busy-signal"
  "color-picker"
  "easy-motion-redux"
  "emmet"
  "ex-mode"
  "git-plus"
  "haskell-ghc-mod"
  "haskell-pointfree"
  "haskell-scry"
  "hasklig"
  "ide-haskell"
  "ide-haskell-cabal"
  "ide-haskell-hasktags"
  "ide-haskell-hoogle"
  "ide-haskell-repl"
  "ide-rust"
  "intentions"
  "language-haskell"
  "language-haskell-scoped"
  "language-lua"
  "language-perl6"
  "language-vue"
  "linter"
  "linter-lua"
  "linter-ui-default"
  "monokai"
  "nyancat-scroll"
  "package-sync"
  "spacemacs-dark-syntax"
  "spacemacs-evil-keys"
  "todo-show"
  "vim-mode-plus"
  "vim-mode-plus-keymaps-for-surround"
  "zentabs"
]
